*.swp
*.swo
*.pyc
*.txt
*.json
*.csv
*.log
*~
.coverage
.noseids
.vagrant
project/booking.db
project/settings/user.py
project/static/
hotel/static/CACHE/
PYSMELLTAGS*
data/HotelImageList.txt
data/admin1CodesASCII.txt
data/cities5000.txt
data/countryInfo.txt
data/ean/
data/taap/
data/gta/
data/timeZones.txt
data/hotelbeds/
data/travelport.csv
logs
.env
.idea
*.csv
cover/